{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="presentation__image">
        <div class="card">
            <div class="card-body">
            {% for item in accueil %}
                <h5 class="card-title">{{ item.encartTitre }}</h5>
                <p class="card-text">{{ item.encartText }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-header"></div>
    <div class="container">
        <div class="directeurs">
            <div class="directeur--left">
                <img src="{{ vich_uploader_asset(equipe[6], 'photoFile') }}" class="directeurs__image d-flex justify-content-center" alt="Francis Gauthier">
                <div class="directeur__text text-center">
                    <h5 class="uppercase">{{ equipe[6].firstname}} {{equipe[6].lastname}}</h5>
                    <h5 class="uppercase">{{ equipe[6].role}}</h5>
                </div>
            </div>
            <div class="directeur--right">
                <img src="{{ vich_uploader_asset(equipe[0], 'photoFile') }}" class="directeurs__image d-flex justify-content-center" alt="Sadek Deghima">
                <div class="directeur__text text-center">
                    <h5 class="uppercase">{{ equipe[0].firstname}} {{equipe[0].lastname}}</h5>
                    <h5 class="uppercase">{{ equipe[0].role}}</h5>
                </div>
            </div>
        </div>
        <div class="equipe d-flex justify-content-center">
            <a href="{{ path('equipe') }}" class="btn equipe__button equipe__button__link">Découvrez le reste de notre équipe</a>
        </div>
    </div>
    <div class="container__schema">
        <div class="container">
            <p class="preschema">La prévention spécialisée est une action éducative et sociale qui consiste à aller vers le jeune dans son milieu de vie. L’objectif est d’assurer une continuité éducative auprès du jeune qu’il soit dans sa famille à l’école ou dans la rue.</p>
        </div>
        <h4 class="interventions__title">Les modes d’intervention:</h4>
        <div class="interventions">
            
            <div class="interventions--left">
                <div class="intervention">
                    <hr class="ligne ligne--up--left">
                    <div class="picto">
                        <img src="img/house_circle.svg" class="intervention__picto" width="60" height="60" alt="Pictogramme maison">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">TRAVAIL DE RUE</h6>
                        <p class="intervention__text">Présence dans le quartier et aux abords des collèges</p>
                    </div>
                </div>
                <div class="intervention intervention--left--secondchild">
                    <hr class="ligne ligne--middle--left">
                    <div class="picto">
                        <img src="img/velos_circle.svg" class="intervention__picto" width="60" height="60" alt="Pictogramme velos">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">ACTIONS COLLECTIVES</h6>
                        <p class="intervention__text">Sport, culture, loisirs (tournois sportifs, sorties VTT, atelier danse...)</p>
                    </div>
                </div>
                <div class="intervention">
                    <hr class="ligne ligne--down--left">
                    <div class="picto">
                        <img src="img/mobile_circle.svg" class="intervention__picto" width="60" height="60" alt="Pictogramme support numérique">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">ANIMATIONS NUMERIQUES</h6>
                        <p class="intervention__text">Education aux médias, sérious game, prévention, ateliers tablettes</p>
                    </div>
                </div>
            </div>
            <div class="interventions__logo">
                <img src="img/A_icon.svg" width="80" height="80" alt="Logo d'Avenir des Cités">
                <p>Avenir des Cités</p>
            </div>
            <div class="interventions--right">
                <div class="intervention intervention--firstchild">
                    <hr class="ligne ligne--up--right">
                    <div class="picto">
                        <img src="img/boussole_circle.svg" class="intervention__picto intervention__picto--boussole" width="60" height="60" alt="Pictogramme boussole">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">ORIENTATION</h6>
                        <p class="intervention__text">Travail en réseau et en partenariat</p>
                    </div>
                </div>
                <div class="intervention">
                    <hr class="ligne ligne--middle--right">
                    <div class="picto">
                        <img src="img/infos_circle.svg" class="intervention__picto intervention__picto--info" width="60" height="60" alt="Pictogramme information">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">ACCUEIL / INFORMATION</h6>
                        <p class="intervention__text">Accès aux droits, travail, santé, logement, démarches administratives, éducation, parentalité</p>
                    </div>
                </div>
                <div class="intervention">
                    <hr class="ligne ligne--down--right">
                    <div class="picto">
                        <img src="img/talks_circle.svg" class="intervention__picto" width="60" height="60" alt="Pictogramme parole">
                    </div>
                    <div class="intervention__description">
                        <h6 class="intervention__title">AIDES AUX PROJETS ET ACCOMPAGNEMENT SOCIAL</h6>
                        <p class="intervention__text">Individuel, collectif, insertion sociale &amp; professionnelle</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="liste mx-auto">
            <li class="puces">Libre adhésion</li>
            <li class="puces">Anonymat</li>
            <li class="puces">Confidentialité</li>
            <li class="puces">Non mandat</li>
        </ul>
        <p class="pre-objectifs pb-5">La prévention spécialisée est destinée à faire face à des situations de fragilité affective, de rupture par rapport à l’environnement social et familial.</p>
        <div class="objectifs">
            <h4 class="objectifs__title">Les objectifs de cette action éducative sont de :</h4>
            <div class="objectifs__args pb-5">
                <div class="objectifs__arg"><strong>Prévenir les risques d’exclusion</strong> en favorisant l’accès aux droits, à l’éducation, à la santé, à la culture et aux sports.</div>
                <div class="objectifs__arg"><strong>Prévenir les conduites à risques</strong> qui peuvent être liées à des fragilités individuelles, à la dureté de certains contextes sociaux et urbains, à des violences subies.</div>
                <div class="objectifs__arg--last"><strong>Aider à un meilleur dialogue entre jeunes et adultes</strong> et contribuer à favoriser l’émergence de réseaux de solidarités locales à partir des potentialités du milieu.</div>
            </div>
        </div>
    </div>

{% endblock %}
