{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <div class="partenaires__image">
    </div>
    <div class="container-header"></div>
    <div class="container">
        <div class="partenaires">
            <h1 class="partenaires__title">NOS PARTENAIRES</h1>
            <img src="{{ vich_uploader_asset(partenaires[0], 'logoFile') }}" class="logo__pdc" alt="Logo du département du Pas-de-Calais"/>
            <hr class="ligne__partenaires"/>
            <h2 class="territoires">LES TERRITOIRES D'INTERVENTION</h2>
            <div class="cities">
                <img src="{{ vich_uploader_asset(partenaires[1], 'logoFile') }}" class="logo__harnes" alt="Logo de la ville de Harnes"/>
                <img src="{{ vich_uploader_asset(partenaires[2], 'logoFile') }}" class="logo__billymontigny" alt="Logo de la ville de Billy-Montigny"/>
                <img src="{{ vich_uploader_asset(partenaires[3], 'logoFile') }}" class="logo__sallaumines" alt="Logo de la ville de Sallaumines"/>
            </div>
            <hr class="ligne__partenaires"/>
            <img src="{{ vich_uploader_asset(partenaires[4], 'logoFile') }}" class="logo__caf" alt="Logo de la CAF du Pas-de-Calais"/>
            <hr class="ligne__partenaires"/>
            
            <div class="contact">
                <p class="contact--vert mx-auto">Vous souhaitez devenir partenaire de l’association ? <br/>N’hésitez pas à nous contacter:</p>
                <p class="contact__description">03.61.93.11.38<br/>
                club.d.cites@gmail.com</p>
                <div class="contact__siege">
                    {% for accueil in accueil %}
                    <p class="contact__siege">{{ accueil.siegeSocial | raw }}</p>
                    {% endfor %}
                </div>
          </div>
        </div>
    </div>

{% endblock %}
