{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}
 
{% block body %}


<div class="container">
    <div class="container-presentation">
    {% for presentation in presentation %}
        <p>{{ presentation.body | raw }}</p>
    {% endfor %}
    </div>
</div>

{% endblock %}
