{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
   
    <h1 class="reset__password__title">Réinitialiser votre mot de passe</h1>
     <div class="reset">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary reset_btn">Réinitialiser votre mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
