.container-header {
    display: none;
}

.articles {
    display: flex;
    flex-direction: column;

    &__block {
        order: 2;
        padding: 52px 0 95px 0;
    }
}

.aside {
    order: 1;
    color: black;

    &__title {
        font-size: 16px;
    }

    &__content {
        background: linear-gradient(#37A94A 34.9%, #97C83E 100% );
        color: black;
        margin: 30px 0 0 0;

        &--name {
            font-size: 18px;
            padding-top: 30px;
        }

        &--infos{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

        }

        &--img{
            width: 90%;
            padding-top: 15px;
        }

        &--description{
            padding: 12px;
            // padding-left: 0px;
            font-size: 15px;
        }
    }
}

.article {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;

    &__image {
        order: 2;
    }

    &__image img {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }

    &__publication {
        order: 1;
        width: 100%;
        text-align: left;
        color: $navtext-color;
        font-weight: bold;
    }

    &__description {
        margin-left: 10px;
        width: 70%;
        order: 3;
        font-size: 12px;
    }

    &__button {
        order: 4;
        padding: 5px;
        padding-left: 0;
        border: none;
        background-color: white;
        color: $navtext-color;
        
        &--link {
            color: $navtext-color;
            font-weight: bold;
        }

        &--link:hover {
            color: $navtext-color-hover;
        }
    }

    &:last-child {
        padding-bottom: -70px;  
    }
}

.visible {
    display: none;
}

@media screen and (min-width: 990px) {
    .container-header {
        display: block;
    }

    .articles {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 70px;

        &__block {
            width: 64%;
            padding-right: 60px;
            border-right: 1px solid $navtext-color;
            order: 1
        }
    }

    .article {
        text-align: left;
        padding: 50px 0;
        border-bottom: 1px solid $navtext-color;

        &__image {
            order: 1;
        }

        &__image img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        &__publication {
            margin-bottom: 40px;
            order: 2;
        }

        &__description {
            width: 550px;
            font-size: 16px;
            margin-left: 0;
            order: 3;
        }

        &__button {
            padding: 15px; 
            padding-left: 0;
        }
        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
            border-bottom: none;
            padding-bottom: 0px;
        }
    }  
    
    .aside {
        padding-left: 50px;
        width: 35%;
        order: 2;

        &__title {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__content {
            // height: 600px;
            padding-bottom: 20px;
        }
    }

    .visible {
        display: inline-block;
    }
}