.media__content {
    justify-content: end;
}

.media__reseaux {
    display: none;
}

.navbar-nav {
    background: linear-gradient(to left, $linear-light 34.9%, rgba(255, 255, 255, 0) 100%), $linear-dark;
    text-indent: 10px;
}

.navbar-item {
    color: black !important;

    &:hover {
        color: white !important;
    }
}

.img__navbar {
    background: #F8F9FA;
    text-align: center;
}

.social {
    margin: 0 -10px;
}

.logo {
    display: none;
   
}

.container-header {
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
    height: 20px;
}

@media screen and (min-width: 990px) {
    .logo {
        display: block;
        width: 110px;
        height: 110px;
    }

    .logo--mobile {
        display: none;
    }

    .img__nav {
        display: none;
    }

    .navbar-nav {
        background: none;
        text-align: center;
    }

    .navbar-item {
        color: $navtext-color !important;
        font-weight: bold;

        &:hover {
            color: $navtext-color-hover !important;
        }
    }

    .navbar {
        display: flex;
    }

    .media__reseaux {
        display: block;
        width: 150px;
        font-size: 12px;
        line-height: 1em;
    }

    .logo {order: 1}
    .media__content {order: 3}
    .mobile {order: 2}
}

.scroll { 
    position: fixed;   
    bottom: 40px; 
    right: 30px; 

    &__icon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 990px) {
    .scroll {    
        bottom: 30px; 
        
        &__icon {
            width: 50px;
            height: 50px;
        }
    }
}