.pagination {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.pagination span {
    padding: 15px;
    margin: 10px 5px;
}

.page a {
    text-decoration: none;
    color: $navtext-color;
}

.page {
    border: 2px solid $navtext-color;
    padding: 10px;
}

.current {
    background-color: $navtext-color;
    border: 2px solid $navtext-color;
    color: white;
}

.next {
    text-decoration: none;
    border: 2px solid $navtext-color;
    
}

.next a {
    color: $navtext-color;
}

.previous {
    text-decoration: none;
    border: 2px solid $navtext-color;
}

.previous a {
    color: $navtext-color;
}

.last {
    display: none;
}

.first {
    display: none;

}

.last a {
    display: none;
}

.first a {
    display: none;

}
