.partenaires {
    &__image {
        background: no-repeat center/100% url("../../../public/img/mains.jpg");
        height: 240px;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 40px;
    }
}

.contact {
    &__description {
        font-size: 18px;
    }

    &__siege {
        font-size: 14px;
        margin-bottom: 40px;
    }

    &--vert {
        font-size: 16px;
        font-weight: bold;
        color: $navtext-color;
        width: 70%;
    }
}

.territoires {
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color: $navtext-color;
}

.ligne__partenaires {
    border-top: 3px solid $navtext-color;
    width: 210px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.logo {
    &__pdc {
        width: 170px;
        margin-bottom: 40px;
    }

    &__harnes, &__billymontigny, &__sallaumines {
        width: 120px;
        margin-bottom: 20px;
    }

    &__caf {
        width: 90px;
        margin-bottom: 40px;
    }
}

.cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 990px) {
    .partenaires {
        &__image {
            height: 420px;  
        }

        &__title {
            margin-bottom: 80px;
            font-size: 32px;
        }
    }

    .territoires {
        font-size: 20px;
    }

    .ligne__partenaires {
        width: 500px;
        margin-bottom: 60px;
    }

    .cities {
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        &__pdc {
            width: 300px;
            margin-bottom: 60px;
        }

        &__harnes, &__billymontigny, &__sallaumines {
            margin: 0 40px;
        }

        &__caf {
            margin-bottom: 60px;
        }

        &__harnes, &__billymontigny, &__sallaumines, &__caf {
            width: 200px;
        }
    }

    .contact {
        &__description {
            font-size: 20px;
        }

        &__siege {
            font-size: 16px;
            margin-bottom: 60px;
        }

        &--vert {
            width: 100%;
            font-size: 20px;
        }
    }
}