.presentation {
    &__text {
        text-align: center;
        margin-bottom: -20px;
    }
    
    &__lois {
        width: 150px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;

        & li {
            &:last-child {
                margin-left: 10px;
                // text-align: left;
            }
        }
    }

    &__arrete, &__aqui, &__objectifs, &__comment, &__principes {
        width: 95%;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 30px;

        & li {
            margin-left: 30px;
        }
    }

    &__aqui, &__objectifs, &__principes {
        margin-top: 30px;
        margin-bottom: 0;
    }

    &__aqui {
        margin-bottom: -20px;
    }

    &__comment {
        width: 250px;

        & li {
            margin-left: 32px;
        }
    }

    &--objectifs {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;
        
    }

    &--modes {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


@media screen and (min-width: 990px) {
    .container-presentation {
        margin-bottom: 50px;
    }

    .presentation {
        &__lois {
            width: 250px;

            & li {
                &:last-child {
                    margin-left: 72px;
                    width: 300px;
                    text-align: left;
                }
            }
        }  
        
        &__arrete, &__aqui, &__objectifs, &__comment, &__principes {
            width: 70%;
        }

        &__comment {
            width: 400px;

            & li {
                margin-left: 72px;
            }
        }

        &--objectifs {
            width: 100%;
        }
    } 
}
