.reset__password__form {
    margin: 60px 300px;

    width: 80%;
    height: auto;
    padding: 50px;
        &--message {
            font-size: 16px;
            color: $navtext-color;
            font-style: italic;
            margin: 15px 0;
        }
        &--back-to-login {
            font-style: italic;
            font-size: 12px;
        }
}
.reset__password__btn {
    background-color: $navtext-color !important;
    border: none;
    margin: 15px auto;
    color: #07311f;
    font-weight: bold;
    width: 7.8rem;
    height: 3.6rem;
    font-size: 1rem;
    border-radius: 10px;
}
.reset__password__title {
    color: $navtext-color;
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
}
.required {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    font-style: italic;
}
#reset_password_request_form_email {
    width: 50rem;
}
.reset {
    width: 80%;
    display: block;
    box-sizing: border-box;
    margin: 60px 300px;
}
#change_password_form_plainPassword_first {
    width: 50rem;
}
#change_password_form_plainPassword_second {
    width: 50rem;
}
.reset_btn {
    background-color: $navtext-color !important;
    border: none;
    margin: 15px auto;
    color: #07311f;
    font-weight: bold;
    width: 10rem;
    height: auto;
    font-size: 1rem;
    border-radius: 10px;
}