<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        
        {{ encore_entry_link_tags('app') }}
        <link rel="icon" href="../../img/A_icon.ico" />
        
        {% endblock %}
    </head>

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <body>
        {% block body %}
               
        {% endblock %}


    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>

    <footer>
    {% include 'partials/footer.html.twig' %}
    </footer>


</html>
